body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.error{
  margin-top: 20px !important;
  padding: 10px !important;
}
.btn-margin{
  margin-left: 10px;
}
.icon__google{
  width: 6.5%;
  cursor: pointer;
}
.quick__popup{
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  top: 20%;
  z-index: 99999999;
  background: #fffbfb;
  text-align: center;
}
.quick__popup .close{
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 25px;
  cursor: pointer;
}
.overlay{
  background: #fff6f6c9;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
}